[Unit]
Description=Zudio3 cash till

[Service]
ExecStartPre=/bin/sleep 5
Type=simple
Restart=on-failure
RestartSec=5s
WorkingDirectory=/home/pi/Desktop/person-counting
ExecStart=/usr/bin/python3 person_counting.py


[Install]
WantedBy=default.target

